<div class="main-div">
  <div>
    <div class="logoOnpe">
      <img src="../../../assets/img/PantallasCS3_Onpe.png" alt="" />
    </div>
  </div>
  <div class="center">
    <div class="logoSistema">
      <!-- <h1>SISEN</h1>
      <p>Sistema de Notificación Electrónica</p> -->
      <img src="../../../assets/img/loginLogo70.png" alt="" />
    </div>
    <div class="centerTitle">
      CONTRASEÑA NUEVA
      <p class="minPwd">
        (Considere un mínimo 8 caracteres entre números, minúsculas y
        mayúsculas)
      </p>
    </div>
    <form
      #myform="ngForm"
      [formGroup]="Formulario"
      class="example-form"
      (ngSubmit)="onSumit()"
    >
      <div class="labelsColor">Ingrese su contraseña anterior</div>
      <mat-form-field
        class="example-full-width bigInputColor"
        appearance="outline"
      >
        <span matPrefix class="material-icons">lock</span>
        <input
          matInput
          placeholder="Contraseña anterior"
          [type]="hideOldPass ? 'password' : 'text'"
          formControlName="fm_oldpass"
          [class.control-invalid]="formInvalid('fm_oldpass')"
          required
          appOnlyNumber="integer"
          autocomplete="false"
        />
        <mat-icon class="pointer" matSuffix (click)="hideOldPass = !hideOldPass">{{hideOldPass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div class="labelsColor">Ingrese su contraseña nueva</div>
      <mat-form-field
        class="example-full-width bigInputColor"
        appearance="outline"
      >
        <span matPrefix class="material-icons">lock</span>
        <input
          mat-icon="lock"
          matInput
          placeholder="Contraseña nueva"
          [type]="hideNewPass ? 'password' : 'text'"
          maxlength="30"
          formControlName="fm_newpass"
          [class.control-invalid]="formInvalid('fm_newpass')"
          required
        />
        <mat-icon class="pointer" matSuffix (click)="hideNewPass = !hideNewPass">{{hideNewPass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div class="labelsColor">Repita su contraseña nueva</div>
      <mat-form-field
        class="example-full-width bigInputColor"
        appearance="outline"
      >
        <span matPrefix class="material-icons">lock</span>
        <input
          mat-icon="lock"
          matInput
          placeholder="Contraseña nueva"
          [type]="hideRepeatNewPass ? 'password' : 'text'"
          maxlength="30"
          formControlName="fm_repeatnewpass"
          [class.control-invalid]="formInvalid('fm_repeatnewpass')"
          required
        />
        <mat-icon class="pointer" matSuffix (click)="hideRepeatNewPass = !hideRepeatNewPass">{{hideRepeatNewPass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <span class="mensajeLogin"
        >Mínimo 8 dígitos entre números, mayúsculas y minúsculas</span
      >
      <span class="mensajeLogin">{{ mensaje }}</span>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button
          type="submit"
          fxFlex="50"
          class="btnBlue"
          mat-raised-button
          [disabled]="myform.invalid"
        >
          Aceptar
        </button>
      </div>
    </form>
  </div>
  <div class="dirFooter">
    Jr. Washington 1894, Lima 01<br />
    informes@onpe.gob.pe - Fono ONPE: 417 0630 opción 1<br />
    Horario de atención: Lunes a Sábado de 08:00 h – 20:00 h
  </div>
</div>
