<section>
    <div class="allTitles" fxLayout="row">
        <span class="brownCircle"></span>
        <span class="greyLine"></span> Usuarios
    </div>
    <div class="generalBox">
        <mat-progress-bar *ngIf="load" mode="indeterminate"></mat-progress-bar>

        <div class="controlBox inputColor">
            <div class="centerTitle">Validación de Casilla Electrónica</div>
            <form>

                <mat-card class="card">                  
                    <mat-card-subtitle>
                        Verfique que la documentación anexa a la solicitud cumpla con lo indicado en el Art. 3 del TUPA: 
                    </mat-card-subtitle>
                  
                    <!-- content -->
                    <mat-card-content>
                      <div fxLayout="column">

                        <div fxLayout="row" >
                            <!-- Column-2 Row-1-->
                            <div fxLayout="column" fxFlex="60" fxFlexFill fxLayoutAlign="space-between strech">
                              <div fxLayout="row" fxFlex="20px" fxLayoutAlign="center center"></div>
                              <div fxLayout="row" fxFlex="220px" >
                                <ol>
                                    <li>Persona Natural</li>
                                    <li>Tipo de documento: <b>requestSave.tipoDocumento</b> </li>
                                    <li>Número de documento: <b>requestSave.numeroDocumento</b></li>
                                    <li>Apellidos y Nombres: <b>requestSave.apePaterno   requestSave.apeMaterno  requestSave.nombres</b></li>
                                    <li>Correo Electrónico: <b>requestSave.correoElectronico</b></li>
                                    <li>Número de Celular: <b>requestSave.numeroCelular</b></li>
                                    <li>Departamento / Provincia / Distrito: *Aquí el valor*</li>
                                    <li>Dirección: <b>requestSave.domicilioFisico</b></li>
                                </ol>                                  
                              </div>
                              <div fxLayout="row" fxFlex="280px" >
                                <ol>
                                    <li>Persona Jurídica</li>
                                    <li>RUC: *Aquí el valor*</li>
                                    <li>Razón Social: *Aquí el valor*</li>
                                    <li>Correo Electrónico: *Aquí el valor*</li>
                                    <li>Número de Celular: *Aquí el valor*</li>
                                    <li>Departamento / Provincia / Distrito: *Aquí el valor*</li>
                                    <li>Dirección: *Aquí el valor*</li>
                                    <li>Página Web: *Aquí el valor*</li>
                                    <li>Representante:</li>
                                    <ol style="margin-left: 20px;">
                                        <li>Tipo de documento: *Aquí el valor*</li>
                                        <li>Número de documento: *Aquí el valor*</li>
                                        <li>Apellidos y Nombres: -Aquí el apepat--Aquí el apemat-,-Nombres-</li>
                                        <li>Foto: *Aquí el valor*</li>
                                    </ol>
                                </ol>
                              </div>
                              <div fxLayout="row" fxFlex="20px" fxLayoutAlign="center center"></div>
                            </div>
                            <!-- Column-2 Row-2-->
                            <div fxLayout="row" fxFlex="40" fxFlexFill style="background-color: #ebebeb" fxLayoutAlign="space-around strech">
                              <div fxLayoutAlign="center center">Aquí la foto</div>
                            </div>
                          </div>
                          <div fxLayout="row" fxFlex="50px" style="background-color: #ebebeb" fxLayoutAlign="center center">
                            
                            <div fxLayout="column" fxFlex="60" fxFlexFill fxLayoutAlign="space-between strech"></div>
                            <div fxLayout="row" fxFlex="40" fxFlexFill fxLayoutAlign="space-around strech">
                              <div fxFlex="50" fxLayoutAlign="center center">
                                <button type="submit" mat-raised-button fxFlex="50" class="btnBlue" [class.spinner]="load">Aprobar</button>
                              </div>
                              <div fxFlex="50" fxLayoutAlign="center center">
                                <button type="submit" mat-raised-button fxFlex="70" class="btnRed" [class.spinner]="load">Desaprobar</button>
                              </div>
                            </div>
                          </div>
                      </div>
                    </mat-card-content>
                  
                  </mat-card>
            </form>
            <br />
        </div>
    </div>
</section>